.content {
	margin: 0 auto;
	width: 1920px;
	height: 100vh;
	display: flex;
	direction: row;
	justify-content: center;
	align-items: center;
}
.content_left {
	width: 60%;
}
.content_right {
	width: 40%;
	flex-flow: column;
	flex-wrap: nowrap;
	align-items: flex-sart;
	justify-content: center;
}
form input {
	width: 60%;
}
